/* Add this code to your index.css od your variant */
#top_section {
	position: relative;
	text-align: center;
}
#top_section #main_menu {
	float: none;
	display:inline-block;
	width: auto;
}
#menu_nav {
	padding-bottom: 0;
}
/* Add text-align: left; to this class */
.linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited {
	border: 1px solid transparent;
	color: #666;
	text-align: left;
} 